<section
	class="page-section mb-4 overflow-hidden"
	style="height: 200px"
	*ngFor="let item of products"
>
	<div class="container h-100 cursor-pointer" (click)="openDetail(item)">
		<div class="card bg-dark text-white h-100">
			<img [src]="item.img" class="card-img" [alt]="item.desc" />
			<div class="card-img-overlay">
				<p class="card-title fs-1">{{ item.title }}</p>
				<p class="card-text">{{ item.desc }}</p>
				<p class="card-text">{{ item.update }}</p>
			</div>
		</div>
	</div>
</section>
